body,html {
    height: 100%;
}

#enter_message {
    background: #000;
    padding: 3px;
}

#enter_message input { 
    margin-right: 4px; 
}

#enter_message button { 
    width: 100px; 
}

#messages { 
    display: none;
    list-style-type: none;
    margin: 0; padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) {
     background: #eee; 
}

#ask_name {
    background-repeat: no-repeat;
    background-color: #537d88;
	background-position: center;
}

#ask_name h3 {
    padding-top: 10px;
    padding-bottom: 10px;
	color: white;
}

#ask_name input {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #211e1e;
}

#ask_name button {
    width: 120px;
    background: #ef3f5a;
    border-width: 0px 0px 0px 0px;
    color: #fff;
}

#ask_name button:hover {
    background: #d73851;
    border: 1px solid #d73851;

}

#name_error {
    display: none;
}

.container {
    padding: 0
}